<distributionManagement>
#if($versionPolicy == "RELEASE")
    <repository>
        <id>${repositoryName}</id>
        <url>${url}</url>
    </repository>
#end
#if($versionPolicy == "SNAPSHOT")
    <snapshotRepository>
        <id>${repositoryName}</id>
        <url>${url}</url>
    </snapshotRepository>
#end
#if($versionPolicy == "MIXED")
    <repository>
        <id>${repositoryName}</id>
        <url>${url}</url>
    </repository>
    <snapshotRepository>
        <id>${repositoryName}</id>
        <url>${url}</url>
    </snapshotRepository>
#end
</distributionManagement>
