<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hrds.rdupm.harbor.infra.mapper.HarborRepoServiceMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hrds.rdupm.harbor.domain.entity.HarborRepoService">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="custom_repo_id" property="customRepoId" jdbcType="DECIMAL"/>
        <result column="app_service_id" property="appServiceId" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="organization_id" property="organizationId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <delete id="deleteRelationByProjectId">
        DELETE FROM rdupm_harbor_repo_service WHERE PROJECT_ID = #{projectId} AND app_service_id IS NOT NULL
    </delete>

    <update id="updateProjectShareByProjectId">
        UPDATE rdupm_harbor_custom_repo SET project_share = #{projectShare} WHERE project_id=#{projectId}
        <if test="repoId != null">
            and id = #{repoId}
        </if>
    </update>

    <delete id="deleteOtherRelationByService">
        DELETE FROM rdupm_harbor_repo_service WHERE PROJECT_ID = #{projectId}
        AND app_service_id IN
        <foreach collection="appServiceIds" open="(" close=")" separator="," item="appServiceId">
            #{appServiceId}
        </foreach>
        <if test="repoId != null">
            AND custom_repo_id != #{repoId}
        </if>
    </delete>
</mapper>