<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hrds.rdupm.harbor.infra.mapper.HarborRepositoryMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hrds.rdupm.harbor.domain.entity.HarborRepository">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="public_flag" property="publicFlag" jdbcType="VARCHAR"/>
        <result column="harbor_id" property="harborId" jdbcType="DECIMAL"/>
        <result column="organization_id" property="organizationId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL"/>
    </resultMap>

    <update id="updateHarborIdByProjectId" >
        update rdupm_harbor_repository set harbor_id = #{harborId} where project_id = #{projectId}
    </update>

    <select id="selectRepoNoAuth" resultMap="BaseResultMap">
        SELECT
            temp.*
        FROM
            (
            SELECT
                hr.project_id,
                hr.organization_id,
                hr.harbor_id,
                ( SELECT ha.auth_id FROM rdupm_harbor_auth ha WHERE hr.project_id = ha.project_id AND ha.harbor_role_id = 1 LIMIT 1 ) auth_id
            FROM
                rdupm_harbor_repository hr
            ) temp
        WHERE
            auth_id IS NULL
    </select>
    <select id="listReposByProjectId" resultType="org.hrds.rdupm.harbor.domain.entity.HarborRepoConfigDTO">
        select
               rhr.id as repo_id,
               rhr.code as repo_name,
               'CUSTOM_REPO' as type
        from rdupm_harbor_repository rhr
        where rhr.project_id = #{projectId}
        union all
        select
            rhcr.id as repo_id,
            rhcr.repo_name as repo_name,
            'DEFAULT_REPO' as type
        from rdupm_harbor_custom_repo rhcr
        where rhcr.project_id = #{projectId} and rhcr.enabled_flag = 1
    </select>
</mapper>