<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hrds.rdupm.nexus.infra.mapper.NexusRepositoryMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hrds.rdupm.nexus.domain.entity.NexusRepository">
        <result column="repository_id" property="repositoryId" jdbcType="DECIMAL"/>
        <result column="config_id" property="configId" jdbcType="DECIMAL"/>
        <result column="ne_repository_name" property="neRepositoryName" jdbcType="VARCHAR"/>
        <result column="organization_id" property="organizationId" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="allow_anonymous" property="allowAnonymous" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <insert id="distributeRepoInsert">
        insert into rdupm_nexus_repository(config_id,ne_repository_name,organization_id,project_id,allow_anonymous,is_related,tenant_id,object_version_number,creation_date,created_by,last_updated_by,last_update_date,repo_type)
        values (#{n.configId}, #{n.neRepositoryName}, #{n.organizationId}, #{n.projectId}, #{n.allowAnonymous}, 0, 0, 1, NOW(), #{n.createBy}, #{n.createBy}, NOW(), #{n.repoType})
    </insert>
    <select id="getRepositoryByProject" resultType="java.lang.String">
        SELECT
            ne_repository_name
        FROM
            rdupm_nexus_repository
        <where>
            <if test="projectId != null">
                project_id = #{projectId}
            </if>
            <if test="repoType != null">
                AND repo_type = #{repoType}
            </if>
        </where>
    </select>
</mapper>