<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hrds.rdupm.nexus.infra.mapper.NexusUserMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hrds.rdupm.nexus.domain.entity.NexusUser">
        <result column="user_id" property="userId" jdbcType="DECIMAL"/>
        <result column="repository_id" property="repositoryId" jdbcType="DECIMAL"/>
        <result column="ne_user_id" property="neUserId" jdbcType="VARCHAR"/>
        <result column="ne_user_password" property="neUserPassword" jdbcType="VARCHAR"/>
        <result column="is_default" property="isDefault" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <select id="selectList" resultType="org.hrds.rdupm.nexus.domain.entity.NexusUser">
        SELECT
            nr.repository_id,
            nr.ne_repository_name,
            nu.user_id,
            nu.ne_user_id,
            nu.ne_user_password,
            nu.object_version_number
        FROM
            rdupm_nexus_repository nr
        INNER JOIN rdupm_nexus_user nu ON nu.repository_id = nr.repository_id
        WHERE nu.is_default = 1
        <if test="organizationId != null">
            AND nr.organization_id = #{organizationId}
        </if>
        <if test="projectId != null">
            AND nr.project_id = #{projectId}
        </if>

    </select>
    <select id="getOtherRepositoryNames" resultType="java.lang.String">
        SELECT
            nr.ne_repository_name
        FROM
            rdupm_nexus_user nu
        INNER JOIN rdupm_nexus_repository nr ON nu.repository_id = nr.repository_id
        WHERE
            nu.is_default = 0
        AND nu.ne_user_id = #{neUserId}
    </select>
    <select id="selectByUserId" resultType="org.hrds.rdupm.nexus.domain.entity.NexusUser">
        SELECT
            <include refid="nexusUserDefInfo"></include>
        FROM
            rdupm_nexus_repository nr
        INNER JOIN rdupm_nexus_user nu ON nu.repository_id = nr.repository_id
        INNER JOIN rdupm_nexus_role role ON role.repository_id = nr.repository_id
        WHERE
         nu.user_id = #{userId}
         AND nu.is_default = 1
    </select>

    <sql id="nexusUserDefInfo">
        nu.user_id,
        nu.repository_id,
        nu.ne_user_id,
        nu.ne_user_password,
        nr.organization_id,
        nr.ne_repository_name,
        nr.project_id,
        role.ne_role_id
    </sql>
</mapper>