<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hrds.rdupm.nexus.infra.mapper.NexusRepositoryMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hrds.rdupm.nexus.domain.entity.NexusRepository">
        <result column="repository_id" property="repositoryId" jdbcType="DECIMAL"/>
        <result column="config_id" property="configId" jdbcType="DECIMAL"/>
        <result column="ne_repository_name" property="neRepositoryName" jdbcType="VARCHAR"/>
        <result column="organization_id" property="organizationId" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="allow_anonymous" property="allowAnonymous" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <insert id="distributeRepoInsert">
        insert into rdupm_nexus_repository(config_id,ne_repository_name,organization_id,project_id,allow_anonymous,is_related,tenant_id,object_version_number,creation_date,created_by,last_updated_by,last_update_date,repo_type)
        values (#{configId}, #{neRepositoryName}, #{organizationId}, #{projectId}, #{allowAnonymous}, 0, 0, 1, NOW(), #{createdBy}, #{createdBy}, NOW(), #{repoType})
    </insert>
    <select id="getRepositoryByProject" resultType="java.lang.String">
        SELECT
            ne_repository_name
        FROM
            rdupm_nexus_repository
        <where>
            <if test="configId != null">
                config_id = #{configId}
            </if>
            <if test="projectId != null">
                AND project_id = #{projectId}
            </if>
            <if test="repoType != null">
                AND repo_type = #{repoType}
            </if>
        </where>
    </select>
    <select id="listRepositoryByProject" resultType="org.hrds.rdupm.nexus.domain.entity.NexusRepository">
        SELECT
            repository_id,
            ne_repository_name,
            project_id,
            organization_id
        FROM
            rdupm_nexus_repository
        <where>
            <if test="configId != null">
                config_id = #{configId}
            </if>
            <if test="nexusRepository.organizationId != null">
                AND organization_id = #{nexusRepository.organizationId}
            </if>
            <if test="nexusRepository.projectId != null">
                AND project_id = #{nexusRepository.projectId}
            </if>
            <if test="nexusRepository.repoType != null">
                AND repo_type = #{nexusRepository.repoType}
            </if>
        </where>
    </select>
    <select id="selectInfoByIds" resultType="org.hrds.rdupm.nexus.api.dto.NexusRepoDTO">
        SELECT
            nr.config_id,
            nr.repository_id,
            nr.ne_repository_name AS NAME,
            nu.ne_user_id,
            nu.ne_user_password,
            nu.ne_pull_user_id,
            nu.ne_pull_user_password
        FROM
            rdupm_nexus_repository nr
            INNER JOIN rdupm_nexus_user nu ON nr.repository_id = nu.repository_id
        WHERE
            nr.repository_id IN
            <foreach collection="repositoryIds" item="repositoryId" separator="," open="(" close=")">
                #{repositoryId}
            </foreach>
    </select>

    <sql id="listOrgRepoField">
        nr.repository_id,
        nr.config_id,
        nr.ne_repository_name,
        nr.ne_repository_name as name,
        nr.organization_id,
        nr.project_id,
        nr.allow_anonymous,
        nr.is_related,
        nr.enable_flag,
        nr.object_version_number,
        nr.creation_date,
        nr.created_by,
        nr.repo_type
    </sql>
    <select id="listOrgRepo" resultType="org.hrds.rdupm.nexus.domain.entity.NexusRepository">
        SELECT temp.* FROM (
            SELECT
                <include refid="listOrgRepoField"></include>
            FROM
                rdupm_nexus_repository nr
            WHERE
                nr.organization_id = #{organizationId}
                AND nr.repo_type = #{repoType}
                AND EXISTS (
                SELECT
                    1
                FROM
                    rdupm_nexus_project_service nps
                WHERE
                    nps.enable_flag = 1
                    AND nps.project_id = nr.project_id
                )

            UNION

            SELECT
                <include refid="listOrgRepoField"></include>
            FROM
                rdupm_nexus_repository nr
            WHERE
                nr.organization_id = #{organizationId}
                AND nr.repo_type = #{repoType}
                AND NOT EXISTS (
                SELECT
                    1
                FROM
                    rdupm_nexus_project_service nps
                WHERE
                    nps.enable_flag = 1
                    AND nps.project_id = nr.project_id
                )
                AND nr.config_id = (
                SELECT
                    nsc.config_id
                FROM
                    rdupm_nexus_server_config nsc
                WHERE
                nsc.default_flag = 1
                )

            ) AS temp
            ORDER BY temp.project_id, temp.ne_repository_name
    </select>
</mapper>